.CardComida {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  width: 270px;
  height: 270px;
  border-radius: 15px;
}

.CardComida img {
  width: 100%;
  height: 140px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.CardComida div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 50%;
}

.CardComida h1 {
  font-size: 1.5rem;
}

.CardComida h2 {
  font-size: 0.8rem;
  color: black;
}

.CardComida button {
  background-color: red;
  height: 30px;
  border: none;
  align-items: center;
  padding: 4px;
  width: 10%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 12px;
}

.CardComida button:hover {
  cursor: pointer;
}
