* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100vh;
}

.content {
  min-height: 100vh;
  padding-top: 80px; /* AJUSTA PARA QUE A NAVBAR NÃO FICA POR CIMA DO CONTEUDO */

}
