.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/pasta_background.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 700px;
}

.banner h2 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    border-radius: 5px;
}

.info {
    display: flex;
    width: 100vw;
}

.info img {
    width: 100%;
    height: 100%;
}

.info_content {
    background-color: #550F0F;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    width: 50%;

}

.info_content h4{
    font-size: 26px;
    margin-bottom: 2%;
}

.info_content p {
    font-size: 20px;
}

.imgs_options, .feedback_content {
    display: flex;
    justify-content: space-between;
}

.imgs_options {
    padding-top: 20px;
}

.imgs_options img {
    background-position: center;
    background-size: cover;
}


.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.feedbackTitle {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
}
  
  .feedbackContent {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.feedbackCardContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.feedbackCard {
    flex: 0 0 100%;
    max-width: 300px;
    height: 300px;
    background-color: #550F0F;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}
  
.feedbackCard.active {
    display: block;
}
  
.feedbackCard h3 {
    font-size: 32px;
}
  
.feedbackCard p {
    margin-top: 20%;
}
  
@media (max-width: 1150px) {
    .info, .feedbackContent, .imgsOptions {
      flex-direction: column;
    }
  
    .info img,
    .infoContent,
    .feedbackCardContainer {
      width: 100%;
    }
  
    .feedback {
      margin-bottom: 100vh;
    }
  
    .feedbackContent {
      align-items: center;
    }
  
    .feedbackCard {
      margin-bottom: 1rem;
    }
  }
  
